* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*GERAL */

:root {
  font-size: 62.5%;
  --nav-heigth: 10rem;
  --titles-h4: #243e63;
  --paragraph: #495057;
}

html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

.wrapper {
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 1.5rem;
}

section header h4 {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.08rem;
  margin-bottom: 1.6rem;
  text-align: center;
  color: var(--titles-h4);
}

/*HOME*/

#home::before {
  content: '';
  width: 100%;
  height: 1000vh;
  background-color: #d2cecf;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#home {
  margin-top: var(--nav-heigth);
}

#home .content h1 {
  color: black;
  margin-inline: auto;
  font-size: 3.4rem;
  line-height: 100%;
  margin-bottom: 2.4rem;
  text-align: center;
}

#home .content p {
  text-align: center;
  margin-top: 5rem;
  color: var(--paragraph);
}

#home header button {
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.6rem 3.2rem;
  width: fit-content;
  border-radius: 4rem;
  border: 0;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-transform: uppercase;
  background-color: #00a3ac;
  color: white;
  font-weight: bold;
  margin-block: 4rem;
}

#home button:hover {
  cursor: pointer;
}
#home img {
  margin-inline: auto;
  user-select: none;
}

.stat {
  background-color: #ffffff;
  text-align: center;
  margin-top: -4.03px;
  padding-block: 4rem;
  width: 100%;
  margin-inline: auto;
}

.stat h2 {
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  color: #243e63;
}

.stat p {
  line-height: 2.3rem;
  color: var(--paragraph);
  margin-bottom: 2rem;
}
/*SERVICES*/

#services {
  margin-block: 5rem;
}

#services h2 {
  margin-bottom: 5rem;
  text-align: center;
}

#services .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card h3 {
  text-align: center;
  margin-block: 2rem;
  color: var(--titles-h4);
}
.card p {
  text-align: center;
  margin-inline: auto;
  color: var(--paragraph);
}
.card img {
  height: 40rem;
  border-radius: 0.8rem;
}
