* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*GERAL */

:root {
  font-size: 62.5%;
  --nav-heigth: 6rem;
  --titles-h4: #243e63;
  --paragraph: #495057;
  --background-gray: #d2cecf;
  --background-white: #ffffff;
  --blueGet: #00a3ac;
}

html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

.wrapper {
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 1.5rem;
}

section header h4 {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.08rem;
  margin-bottom: 1.6rem;
  text-align: center;
  color: var(--titles-h4);
}

section header h2 {
  margin-bottom: 4rem;
  text-align: center;
}

/*BACKGROUNDS*/
.background:nth-child(1) {
  background-color: var(--background-gray);
  padding-top: 2rem;
}
.background:nth-child(2) {
  background-color: var(--background-white);
}
.background2 {
  background-color: var(--background-gray);
  padding-block: 3rem;
}

/*HOME*/

#home {
  margin-top: var(--nav-heigth);
}

#home .content h1 {
  color: black;
  margin-inline: auto;
  font-size: 3.4rem;
  line-height: 100%;
  margin-bottom: 2.4rem;
  text-align: center;
  color: #ffffff;
}

#home .content p {
  text-align: center;
  margin-top: 5rem;
  color: var(--paragraph);
}

#home header button {
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.6rem 3.2rem;
  width: fit-content;
  border-radius: 4rem;
  border: 0;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-transform: uppercase;
  background-color: #00a3ac;
  color: white;
  font-weight: bold;
  margin-block: 4rem;
  outline: 0;
}

#home button:hover {
  cursor: pointer;
}
#home img {
  margin-inline: auto;
  user-select: none;
}

.stat {
  background-color: var(--background-white);
  text-align: center;
  margin-top: -4.03px;
  padding-block: 6rem;
  width: 100%;
  margin-inline: auto;
}

.stat h2 {
  color: #243e63;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.stat p {
  line-height: 2.3rem;
  color: var(--paragraph);
  margin-bottom: 2rem;
}
/*SERVICES*/

#services {
  margin-block: 5rem;
}

#services .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card h3 {
  text-align: center;
  margin-block: 2rem;
  color: var(--titles-h4);
}
.card p {
  text-align: center;
  margin-inline: auto;
  color: var(--paragraph);
}
.card img {
  width: 40rem;
  height: 40rem;
}

/*DEPOIMENTOS*/

.feedbacks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.feedback {
  width: 32rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-inline: 2rem;
  padding-top: 2rem;
  border-radius: 0.6rem;
  border-top: 10px solid var(--blueGet);
  box-shadow: 0px 0px 20px 0px rgb(223, 223, 223);
  line-height: 2.5rem;
}

.feedback p span {
  font-weight: bold;
}

.editEstrelas {
  text-align: center;
  margin-top: 3rem;
  font-weight: bold;
}

.estrela img {
  object-position: 0px -20px;
  width: 8rem;
}
