* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*GERAL */

:root {
  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

.wrapper {
  width: 37.5rem;
  margin-inline: auto;
}

/*HOME*/

#home::before {
  content: '';
  width: 100%;
  height: 62.6rem;
  background-color: aliceblue;
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

#home .content h1 {
  color: black;
  margin-inline: auto;
  font-size: 3.4rem;
  line-height: 100%;
  margin-bottom: 2.4rem;
  text-align: center;
}

#home .content p {
  text-align: center;
  margin-top: 5rem;
  color: #495057;
}

#home header button {
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.6rem 3.2rem;
  width: fit-content;
  border-radius: 4rem;
  border: 0;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-transform: uppercase;
  background-color: #00a3ac;
  color: white;
  font-weight: bold;
  margin-block: 4rem;
}

#home button:hover {
  cursor: pointer;
}

#home img {
  bottom: -22px;
}
#home .stat {
  background-color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 2rem;
  width: 100%;
}

.stat h2 {
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  padding-top: 1rem;
  color: #243e63;
}

.stat p {
  line-height: 2.3rem;
  color: #495057;
  margin-bottom: 2rem;
}
